<html>
	<head>
    <link rel="stylesheet" href="/static/style.css"/>
	</head>
	<body>
  <br>
  <br>
  <br>
  <br>
  <h1>Racetrack Database</h1>
        <h2>Welcome</h2>
        <p>
          Welcome to our Racetrack Database System where 
          you can register as a driver, register your vehicle to race 
          or take driving course lessons, <br>see upcoming events such as car shows, 
          or slide shows , and even look at special inventory cars.
        </p>
        <h2>Directory</h2>
        <a href="drivers">Drivers</a><br>
        <a href="vehicles">Vehicles</a><br>
        <a href="upcomingEvents">Upcoming Events</a><br>
        <a href="lessons">Lessons</a><br>
        <h2>Founders</h2>
        <h3>Kyle Simms & Brandon Dwyer</h3>
        <h3>Vision</h3>
        <p>
          Our vision was to create a database that would not only<br>
          make it easier for motorsport organizers to organize<br>
          events, lesson offers, and have the ability to<br>
          showcase drivers information and vehicle inventory. 
        </p>
	</body>
</html>